body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  text-align: center;
  background-image: url('surpresaFoto.jpg');
  background-repeat: repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: rgba(227, 22, 33, 0.8); /* Light blue background color with opacity */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: left;
}

h1 {
  color: #fffafa;
  text-align: center;
}

.question {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.question-text {
  margin-bottom: 10px;
}

.answer-submit {
  display: flex;
  align-items: center;
}

.answer-submit input[type="text"] {
  margin-right: 10px; /* Espaçamento entre a caixa de resposta e o botão */
}

button {
  padding: 10px 20px;
  background-color: #00b3ff;
  color: #ffffff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

input[type="text"] {
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #ccc;
  width: 100%;
  box-sizing: border-box;
}

#result {
  text-align: center;
}

#surprise {
  display: none;
  font-size: 20px;
  margin-top: 20px;
}

a {
  color: #007bff;
  text-decoration: none;
}

p {
  color: #fffafa;
  text-align: center;
}

a:hover {
  text-decoration: underline;
}

/* Heart styles */
.heart {
  color: #ff66a3; /* Pink color for hearts */
  font-size: 24px;
}
